#
# This file maps resource identifiers to the location of capability
# information.
#

ivo://cadc.nrc.ca/gms = http://www.canfar.phys.uvic.ca/ac/capabilities
ivo://cadc.nrc.ca/ad = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ad/capabilities
ivo://cadc.nrc.ca/caom2ops = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/caom2ops/capabilities
ivo://cadc.nrc.ca/caom2repo = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/caom2repo/capabilities
ivo://cadc.nrc.ca/cat = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cat/capabilities
ivo://cadc.nrc.ca/cred = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cred/capabilities
ivo://cadc.nrc.ca/data = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/data/capabilities
ivo://cadc.nrc.ca/resolver = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cadc-target-resolver/capabilities
ivo://cadc.nrc.ca/proc = http://www.canfar.phys.uvic.ca/proc/capabilities
ivo://cadc.nrc.ca/sia = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/sia/capabilities
ivo://cadc.nrc.ca/tap = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/tap/capabilities
ivo://cadc.nrc.ca/tap/maq = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/tap/cadc-plus-external/capabilities
ivo://cadc.nrc.ca/vospace = http://www.canfar.phys.uvic.ca/vospace/capabilities

## archive metadata service(s)
ivo://cadc.nrc.ca/ams = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ams/capabilities
ivo://cadc.nrc.ca/ams/mast = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ams/mast/capabilities
ivo://cadc.nrc.ca/ams/maq = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ams/maq/capabilities
ivo://cadc.nrc.ca/ams/cfht = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ams/cfht/capabilities
ivo://cadc.nrc.ca/ams/dao = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ams/dao/capabilities
ivo://cadc.nrc.ca/ams/drao = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ams/drao/capabilities
ivo://cadc.nrc.ca/ams/eao = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ams/eao/capabilities
ivo://cadc.nrc.ca/ams/omm = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ams/omm/capabilities
ivo://cadc.nrc.ca/ams/shared = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ams/shared/capabilities

## prototype canfar user storage
ivo://canfar.net/cavern = http://proto.canfar.net/cavern/capabilities
ivo://canfar.net/aa = http://proto.canfar.net/ac/capabilities

## prototype interactive processing
ivo://cadc.nrc.ca/interproc = http://databench.canfar.net/quarry/capabilities

ivo://oats.inaf.it/gms = http://gms01.oats.inaf.it/ac/capabilities
ivo://oats.inaf.it/cred = http://gms01.oats.inaf.it/cred/capabilities
ivo://oats.inaf.it/vospace = http://space01.oats.inaf.it/vospace/capabilities

# MAST caom2 metadata service
ivo://mast.stsci.edu/caom2repo = https://mastpartners.stsci.edu/portal/ArchivePartner/meta-service/capabilities

# caom2 sandbox services
ivo://cadc.nrc.ca/sc2repo = http://sc2.canfar.net/sc2repo/capabilities
ivo://cadc.nrc.ca/sc2tap = http://sc2.canfar.net/sc2tap/capabilities
ivo://cadc.nrc.ca/sc2links = http://sc2.canfar.net/sc2links/capabilities
ivo://cadc.nrc.ca/sc2meta = http://sc2.canfar.net/sc2meta/capabilities

# CADC data collections with caps
ivo://cadc.nrc.ca/APASS = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/BLAST = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/BNUNN = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/CFHT = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/CFHTMEGAPIPE = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/CFHTTERAPIX = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/CFHTUSER = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/CFHTWIRWOLF = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/CGPS = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/DAO = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/DAOPLATES = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/FUSE = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/GEMINI = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/HSTHLA = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/IRIS = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/JCMT = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/JCMTLP = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/JCMTLS = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/MACHO = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/MOST = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/OMM = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/UKIRT = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities
ivo://cadc.nrc.ca/VGPS = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities

# CADC mirror of HST from MAST
ivo://cadc.nrc.ca/mirror/HST = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/capabilities

# CADC collections in the sandbox for testing
ivo://cadc.nrc.ca/test/HST = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/sandbox/capabilities
ivo://cadc.nrc.ca/test/IRIS = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/sandbox/capabilities
ivo://cadc.nrc.ca/test/OMM = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/sandbox/capabilities
ivo://cadc.nrc.ca/test/VLASS = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/cadc/sandbox/capabilities

# MAQ collections in production
ivo://cadc.nrc.ca/maq/CHANDRA = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/capabilities
ivo://cadc.nrc.ca/maq/NOAO = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/capabilities
ivo://cadc.nrc.ca/maq/SUBARU = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/capabilities
ivo://cadc.nrc.ca/maq/SDSS = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/capabilities
ivo://cadc.nrc.ca/maq/XMM = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/capabilities

# MAQ collections in the sandbox for data engineer testing
ivo://cadc.nrc.ca/test/ALMA = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/sandbox/capabilities
ivo://cadc.nrc.ca/test/ESO = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/sandbox/capabilities
ivo://cadc.nrc.ca/test/GEMINI = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/sandbox/capabilities
ivo://cadc.nrc.ca/test/CHANDRA = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/sandbox/capabilities
ivo://cadc.nrc.ca/test/NOAO = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/sandbox/capabilities
ivo://cadc.nrc.ca/test/SUBARU = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/sandbox/capabilities
ivo://cadc.nrc.ca/test/SDSS = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/sandbox/capabilities
ivo://cadc.nrc.ca/test/XMM = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/sandbox/capabilities

# externally curated collections in the sandbox
ivo://cadc.nrc.ca/ext/SKA = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/sandbox/capabilities
ivo://cadc.nrc.ca/ext/MeerKAT = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/reg/maq/sandbox/capabilities


# Meetings service
ivo://cadc.nrc.ca/meetings = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/meetings/capabilities

