#
# This file maps resource identifiers to the location of capability
# information.
#

ivo://cadc.nrc.ca/ac = http://www.canfar.phys.uvic.ca/ac/capabilities
ivo://cadc.nrc.ca/ad = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/ad/capabilities
ivo://cadc.nrc.ca/caom2ops = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/caom2ops/capabilities
ivo://cadc.nrc.ca/caom2repo = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/caom2repo/capabilities
ivo://cadc.nrc.ca/cat = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cat/capabilities
ivo://cadc.nrc.ca/cred = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/cred/capabilities
ivo://cadc.nrc.ca/data = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/data/capabilities
ivo://cadc.nrc.ca/proc = http://www.canfar.phys.uvic.ca/proc/capabilities
ivo://cadc.nrc.ca/sia = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/sia/capabilities
ivo://cadc.nrc.ca/tap = http://www.cadc-ccda.hia-iha.nrc-cnrc.gc.ca/tap/capabilities
ivo://cadc.nrc.ca/vospace = http://www.canfar.phys.uvic.ca/vospace/capabilities

ivo://oats.inaf.it/ac = http://vospace-gms.oats.inaf.it/ac/capabilities
ivo://oats.inaf.it/cred = http://vospace-gms.oats.inaf.it/cred/capabilities
ivo://oats.inaf.it/vospace = http://vospace-gms.oats.inaf.it/vospace/capabilities